body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  /* background: #e8ecf1; */
  background: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.title h1 {
  font-size: 1.8rem;
  color: #444444;
}

.title p {
  color: #bebebe;
  font-weight: 500;
}
