.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 100%;
}

.divInput {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.divInput input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.divInput input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.divInput input {
  width: 2rem;
  height: 2.5rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  font-size: 2rem;
  text-align: center;
  color: #444444;
  transition: 0.3s;
}

.divInput input:not(:focus),
.divInput input:not(:hover) {
  background-color: bisque;
  border: 1px solid transparent;
}

.divInput input:hover {
  background: beige;
  border-color: chocolate;
  /* box-shadow: 0 0 4px 2px chocolate; */
}

.divInput input:focus {
  background: beige;
  border-color: chocolate;
  box-shadow: 0 0 4px 2px chocolate;
}

.form button {
  width: max-content;
  padding: 1rem 2rem;
  background: #a0c1ff;
  border: none;
  border-radius: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  box-shadow: 0 0 4px 2px #81adff;
}

.form button:active {
  scale: 0.95;
}

@media (width <= 400px) {
  .form button {
    font-size: 1rem;
  }
}
